title, h1{
text-align: center;
color: #2E3532;
font-family: Verdana;

}
h2{
    text-align: center;
    font-family: Verdana;
    color: #8B2635;
}
h3{
    text-align: center;
    font-family: Verdana;
}
nav{
    text-align: center;
    font-family: Verdana;
}
main{
    min-height: 400px;
}
.keyinfo{
    text-align: center;
    font-family: Verdana;
}
body{
    background-color:#E0E2DB ;
}
label, input{
    text-align: center;

}
html{
    
    font-family: Verdana; 
    
}
.intro{
    
    margin-left: 5rem;
    margin-right: 5rem;
}
legend{
    text-align: center;
}
.input{
    background-color:#2E3532;
    color: beige;

}
a:link{color: #8B2635}
a:visited{color: #8B2635}
a:hover{color: #000;}
form{
    max-width: 1700px;
}
footer{
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.capcenter{
    text-align: center;
}
.table1{
    margin-left: 29rem;
    margin-right: 10rem;
}

.employee{
    margin-left: auto;
}
.centertext{
    text-align: center;
}
.centertxt{
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    
}
.script{
    border: 3px;
    border-style: solid;
    border-color: #000;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}
input , form{
   text-align: center;  /* Center Align */
   
}
.dropbtn {
    background-color: #8B2635;
    color: white;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 75rem;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 75rem;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #000;
  }

  .centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

 .wire{
    max-width: 30rem;
 }
