<nav>
    <a href="https://webpages.charlotte.edu/mwashi35/itis3135/">Webspace</a> |
    <a href="https://github.com/Memawa">Github</a> |
    <a href="https://github.com/Memawa/memawa.github.io">Github pages</a> |
    <a href="https://memawa.github.io/itis3135/">Github course page</a> |
    <a href="https://www.freecodecamp.org/Mwashi35">freeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/Mwashi35">codeAcademy</a> |
    <a href="https://www.linkedin.com/in/mekhi-washington-3991a6251/">Linkedin</a> |
</nav>
<p>
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
        <img style="border:0;width:88px;height:31px"
            src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png"
            alt="Validate webpage HTML!">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
        <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!">
    </a>
</p>
<p> <a href="washingtongroup.co/index.html">WashingtonGroup</a> &copy;2023</p>